<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/layout :: layout">
<div th:fragment="content">
    <h1 th:text="${hotel.hotelId == null} ? 'Nuevo Hotel' : 'Editar Hotel'"></h1>

    <form th:action="@{/admin/hoteles/guardar}" th:object="${hotel}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{hotelId}" />

        <label for="name">Nombre:</label>
        <input type="text" th:field="*{name}" required />

        <label for="address">Dirección:</label>
        <input type="text" th:field="*{address}" required />

        <label for="description">Descripción:</label>
        <textarea th:field="*{description}" required></textarea>

        <label for="info">Información:</label>
        <textarea th:field="*{info}"></textarea>

        <label for="stars">Estrellas:</label>
        <input type="number" th:field="*{stars}" min="1" max="5" required />

        <label for="cityId">Ciudad:</label>
        <select name="cityId" required>
            <option th:each="c : ${ciudades}"
                    th:value="${c.cityId}"
                    th:text="${c.name}"
                    th:selected="${hotel.city != null and hotel.city.cityId == c.cityId}">
            </option>
        </select>



        <label for="imageFile">Imagen:</label>
        <input type="file" name="imageFile" accept="image/*" />

        <button type="submit">Guardar</button>
    </form>

</div>
</html>
