body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.admin-container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #000; /* negro */
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    width: 100%;
}
